<!doctype html>
<html lang="en">
  <head>
    <title>G-Grocery|Home:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='fix.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search_box.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
   <section class="vh-100">
      <div class="container-fluid" style="background-color: #f0f0f0;">
        <div class="row-sm-1">
          <div class="col-xs-12 text-black">
            <div class="d-flex align-items-center justify-content-between px-2 ms-xl-4" style="height: 70px;">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="h3 fw-bold mb-0 px-2" style="order: 0;"><a href="/user={{usr}}" style="color: black; text-decoration: none;">G-Grocery</a></span>
                </div>
                {% if admin == true %}
                <button class="btn btn-info btn-lg fw-bold" id="management" type="button" style="background-color: #b1eb3d; outline: #b1eb3d; border-color: #b1eb3d; font-family: Cursive;" onfocus="this.style.boxShadow = '0 0 0 5px rgba(177, 235, 61, 0.150)'" onblur="this.style.boxShadow = '0 0 0 0 rgba(177, 235, 61, 0.075)'" onmouseover="this.style.backgroundColor = '#88eb3d'" onmouseout="this.style.backgroundColor = '#b1eb3d'">Store management <i class="fa-solid fa-book-open"></i></button>
                {% endif %}
                {% if admin == false %}
                <button class="btn btn-info btn-lg fw-bold" id="cart" type="button" style="background-color: #b1eb3d; outline: #b1eb3d; border-color: #b1eb3d; font-family: Cursive;" onfocus="this.style.boxShadow = '0 0 0 5px rgba(177, 235, 61, 0.150)'" onblur="this.style.boxShadow = '0 0 0 0 rgba(177, 235, 61, 0.075)'" onmouseover="this.style.backgroundColor = '#88eb3d'" onmouseout="this.style.backgroundColor = '#b1eb3d'">Cart <i class="fa-solid fa-cart-shopping"></i></button>
                {% endif %}
                <div class="d-flex align-items-center">
                  <span class="h3 fw-bold mb-0 px-2" ><a href="/profile={{usr}}" style="color: black; text-decoration: none;">{{usr}}</a></span>
                  <button class="btn btn-info btn-lg" id="LogoutButton" type="button" style="background-color: #d3eb3d; outline: #d3eb3d; border-color: #d3eb3d; font-family: Cursive;" onfocus="this.style.boxShadow = '0 0 0 5px rgba(211, 235, 61, 0.150)'" onblur="this.style.boxShadow = '0 0 0 0 rgba(211, 235, 61, 0.075)'" onmouseover="this.style.backgroundColor = '#b1eb3d'" onmouseout="this.style.backgroundColor = '#d3eb3d'">Logout</button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: #d6d4d4;">
        <div class="row">
          <div class="col-sm-12 col-xs-12 text-black">

            <div class="d-flex align-items-center justify-content-start px-2 ms-xl-4" style="height: 20px;">
                <span class="h7 mb-0 px-2 text-black " style="order: 0;"><a href="/user={{usr}}" style="color: black; text-decoration: none;">Home</a> </span>
                <span class="h7 mb-0 px-2 text-black pb-1">|</span>
                <span class="h7 mb-0 px-2 text-black"><a href="/user={{usr}}/Categories" style="color: black; text-decoration: none;">Categories</a> </span>
                <span class="h7 mb-0 px-2 text-black pb-1">|</span>
            </div>

          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <!-- Search panel -->
          <div class="col-sm-2 col-xs-12 text-black" style="background-color: #ebebeb;">

            <div class="d-flex px-1 pb-1 pt-1 ms-xl-xs-0 " style="height: 540px; border-right: 3px ridge #5c5c5c; flex-direction: column;">
              <!-- Add filter options here -->
              <div class="d-flex px-1 pb-1 pt-1 ms-xl-xs-0 justify-content-between align-items-center" style="height: 10%; width: 100%; border-bottom: 2px solid #bfbdbd; flex-direction: row; overflow: hidden; word-wrap: break-word; font-family: cursive; line-height: 1;">
                <form action="/user={{usr}}" method="POST">
                  <div class="d-flex justify-content-between align-items-center" style="flex-direction: row;">
                    <input class="search-box search-error form-control form-control-lg" type="search" id="search" name="search" placeholder="Search..." style="height:90%; width:80%;" required />
                    <button class="btn button-style2 pt-2" id="search" type="Submit" style="height: 100%; width: 18%;"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <!-- Main page -->
          <div class="col-sm-9 col-xs-12 text-black">
            <div class="d-flex align-items-start  px-1 pb-1 pt-1 ms-xl-xs-0 " style="height: 540px; flex-direction: column;">
                
                <!-- Title banner -->  <!-- background-color: #d4d4d4;-->
                <div class="d-flex align-items-start px-1 pb-1 pt-1 ms-xl-xs-0 " style="height: 8%; width: 100%; border-bottom: 2px solid #bfbdbd; flex-direction: column;">
                  <span class="px-2 text-start fs-lg-5 fs-md-4 fs-sm-5 fs-xl-6" style="font-family: cursive; font-weight:bold;"> Categories:</span>
                </div>
                <div class="d-flex align-items-start flex-wrap justify-content-start" id="Parent-class">
                  {% if clist != None %}
                    <div class="d-flex flex-wrap" style="flex-direction:row">
                      <div class="d-flex flex-wrap px-1 mt-2 justify-content-start align-items-start">
                        {% for category in clist %}
                        <!-- Content  -->  <!-- background-color: #f0f0f0; background-color: #e3e3e3;-->
                        <div class="d-flex px-1 justify-content-start align-items-start pb-2 cat-tag" category="{{category[1]}}" style="min-width:158px;height:35px;">
                          <div class="d-flex align-items-center justify-content-center pb-1 px-1 cat-tag" category="{{category[1]}}" style="border-radius: 18px; background-color:#aeff00;width:100%;height:100%; font-family: cursive; font-weight:normal; flex-direction: column;">
                            <span class=" text-center " style="font-family: cursive; font-weight:lighter;"><a href="/user={{usr}}/Category={{category[1]}}" style="color: black; text-decoration: none;">{{category[1]}}</a></span>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        const button = document.getElementById('LogoutButton');
        button.addEventListener('click', function() {
            window.location.href = '/logout';
        });

        {% if admin == true %}
          const storeM_button = document.getElementById('management');
          storeM_button.addEventListener('click', function() {
              window.location.href = '/user={{usr}}/management';
          });
        {% else %}
          const cart_button = document.getElementById('cart');
          cart_button.addEventListener('click', function() {
              window.location.href = '/user={{usr}}/cart=Default';
          });
        {% endif %}
    </script>
    <script>
      var parentclass = document.getElementById('Parent-class')
      parentclass.addEventListener('click',function(event){

        if (event.target.classList.contains('cat-tag')){
          var cat_Name =  event.target.getAttribute('category')
          window.location.href = '/user={{usr}}/Category=' + cat_Name;
        }
        });
  </script>
  </body>
</html>