<!doctype html>
<html lang="en">
  <head>
    <title>G-Grocery | Edit_Product:</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='fix.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button_style3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bad_opt.css') }}">
    {% for font in fonts %}
      <link rel="stylesheet" href="{{ url_for('static', filename='fonts/poppins/' ~ font ~ '.ttf') }}">
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
   <section class="vh-100">
      <div class="container-fluid" style="background-color: #f0f0f0;">
        <div class="row-sm-1">
          <div class="col-sm-12 text-black">
            <div class="d-flex align-items-center justify-content-between px-2 ms-xl-4" style="height: 70px;">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="h3 fw-bold mb-0 px-2" style="order: 0;"><a href="/user={{usr}}" style="color: black; text-decoration: none;">G-Grocery</a></span>
                </div>
                {% if admin == true %}
                  <button class="btn btn-lg  button-style1" id="management" type="button" style="font-family: cursive; font-weight:bold;">Store management <i class="fa-solid fa-book-open"></i></button>
                {% endif %}
                {% if admin == false %}
                  <button class="btn btn-lg  button-style1" id="cart" type="button" style="font-family: cursive; font-weight:bold;">Cart <i class="fa-solid fa-cart-shopping"></i></button>
                {% endif %}
                <div class="d-flex align-items-center">
                  <span class="h3 fw-bold mb-0 px-2" ><a href="/profile={{usr}}" style="color: black; text-decoration: none;">{{usr}}</a></span>
                  <button class="btn btn-lg button-style2" id="LogoutButton" type="button">Logout</button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="background-color: #d6d4d4;">
        <div class="row">
          <div class="col-sm-12 text-black">

            <div class="d-flex align-items-center justify-content-start px-2 ms-xl-4" style="height: 20px;">
                <span class="h7 mb-0 px-2 text-black " style="order: 0;"><a href="/user={{usr}}" style="color: black; text-decoration: none;">Home</a> </span>
                <span class="h7 mb-0 px-2 text-black pb-1">|</span>
                <span class="h7 mb-0 px-2 text-black"><a href="/user={{usr}}/Categories" style="color: black; text-decoration: none;">Categories</a> </span>
                <span class="h7 mb-0 px-2 text-black pb-1">|</span>
            </div>

          </div>
        </div>
      </div>


      <div class="container-fluid flex-wrap pt-2" style="width:100%;"> 
        <div class="row">
          <div class="col-sm-12 pb-2 fs-2" style="font-family: Cursive; font-weight: bolder;">
            <span>Buy:</span>
            <span style="color: red;">{{popup}}</span>
          </div>
        </div>
      </div>

      <div class="container-fluid pt-4" style="width:100%;"> 
        <!-- Category panels-->
        <div class="row">
          <div class="col-sm-12 pb-2">
    
             <div class="d-flex flex-wrap align-items-center justify-content-center " style="width:100%;">
              <div class="d-flex col-lg-8 col-xs-10 flex-wrap align-items-center justify-content-start px-md-sm-xs-1 px-xs-0 mr-xs-0 ms-xl-4" style="background-color: #eafcb6;">
                  
                <!-- Content  -->  <!-- background-color: #f0f0f0; background-color: #e3e3e3;-->
                <div class="d-flex align-items-center justify-content-start ms-xl-xs-0 " style="height: 92%; width: 100%; ">

                  <div class="d-flex flex-wrap align-items-start px-1 px-sm-0 px-xs-0 pb-1 pt-4 ms-xl-xs-0 " style="height: 100%; width: 20%; min-width:18%; border-right: 2px solid #bfbdbd; flex-direction: column; overflow: hidden; word-wrap: break-word;">
                      <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-2" style="font-family: cursive; font-weight:normal;">Product name</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-4 mb-3" style="font-family: cursive; font-weight:normal;">Units</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-2 mb-1" style="font-family: cursive; font-weight:normal;">Rate/Unit</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;">Stock</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;">Discount</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;">Final rate/unit</span>
                  </div>
                  <div class="d-flex flex-wrap align-items-start justify-content-start px-4 px-sm-0 px-xs-0 pb-1 pt-4 ms-xl-xs-0 " style="height: 100%; width: 20%; min-width:18%; margin-left: 6px; flex-direction: column; overflow: hidden; word-wrap: break-word;">
                      <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-2" style="font-family: cursive; font-weight:normal;"> {{plist[1]}}</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-4 mb-3" style="font-family: cursive; font-weight:normal;"> {{plist[2]}}</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-2 mb-1" style="font-family: cursive; font-weight:normal;"> {{plist[3]}}</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;"> {{plist[4]}}</span>
                    {% if plist[6] == 0 %}
                      <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;"> None</span>
                    {% else %}
                      <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;"> {{plist[6]}}</span>
                    {% endif %}
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;"> {{plist[3] - plist[3]*plist[6]/100}}</span>
                  </div>

                </div>

              </div>              
            </div> 

            <div class="row justify-content-center px-2">
              <div class="d-flex col-lg-8 col-xs-10 flex-wrap align-items-center justify-content-between px-md-sm-xs-1 px-xs-0 mr-xs-0 mt-2 ms-xl-4"  style="background-color: #eafcb6;">
                <div class="d-flex justify-content-start">
                  <div class="d-flex align-items-center" style="flex-direction: column;"> 
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;">Amount</span>
                  </div>
                    <form id="buy_form" action="/user={{usr}}/Bought={{plist[0]}},{{plist[1]}}" method="POST">
                      <div class="form-group flex-wrap fw px-2 pt-3 text-start fs-6 fs-sm-5  pt-2 pb-2" style="width: 90%;">
                        <input type="number" id="Amount" name="Amount" class="form-control form-control-lg" min="1" max="{{plist[4]}}" value="1" required/>
                      </div>
                    </form>
                  </div>
                  <div class="d-flex justify-content-start">
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" style="font-family: cursive; font-weight:normal;">Total:</span>
                    <span class=" fw px-2 text-start fs-6 fs-sm-5  pt-2 pb-2 mt-3 mb-1" id="Total" style="font-family: cursive; font-weight:normal;">{{plist[3] - plist[3]*plist[6]/100}}</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="d-flex align-items-center justify-content-center">
              <div class="col-sm-8 text-black px-5 ">
                <div class="d-flex justify-content-between px-5" style="width: 100%;">
                    <button class="btn bad-option rounded-3 fs-lg-5 px-4" id="CancelButton" type="button">Cancel</button>
                    <button class="btn button-style1 rounded-3 fs-lg-5" id="buy_button" type="submit" form="buy_form" style="min-width: 60px;width: 86px;" prod_Name="{{prod_name}}">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <script>
        const button = document.getElementById('LogoutButton');
        button.addEventListener('click', function() {
            window.location.href = '/logout';
        });

        {% if admin == true %}
          const storeM_button = document.getElementById('management');
          storeM_button.addEventListener('click', function() {
              window.location.href = '/user={{usr}}/management';
          });
        {% else %}
          const cart_button = document.getElementById('cart');
          cart_button.addEventListener('click', function() {
              window.location.href = '/user={{usr}}/cart=Default';
          });
        {% endif %}

        const cancel = document.getElementById('CancelButton');
        cancel.addEventListener('click', function() {
            window.location.href = '/user={{usr}}';
        });

        var input   = document.getElementById('Amount');
        var display = document.getElementById('Total');
        var form    = document.getElementById('buy_form');

        input.addEventListener('input',function(){
          display.textContent = input.value*{{plist[3] - plist[3]*plist[6]/100}};
          form.action         = "/user={{usr}}/Bought={{plist[0]}},{{plist[1]}},{{plist[2]}},{{plist[3]}},{{plist[4]}},{{plist[5]}},"+display.textContent;
        });

        const buy_button = document.getElementById('buy_button');
        buy_button.addEventListener('click',function(){
          form.action         = "/user={{usr}}/Bought={{plist[0]}},{{plist[1]}},{{plist[2]}},{{plist[3]}},{{plist[4]}},{{plist[5]}},"+display.textContent;
        });
    </script>
  </body>
</html>